<div class="list">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="d-flex align-items-center gap-2">
        <i style="color: #186CAF;" class="fa-solid fa-clock fs-4"
        ></i>
        <h3 class="mt-2">Horario de Servicio</h3>
      </div>
      <div>
        <p style="font-weight: bold; margin: 2px;">
          Campus de Santiago
        </p>
        <p style="margin: 0;">Lunes a viernes</p>
        <p style="margin: 0;">De 8:00 a.m. a 12:30 p.m.</p>
        <p>De 2:00 p.m. a 5:00 p.m.</p>
      </div>

      <div>
        <p style="font-weight: bold; margin: 2px;">
          Campus de Santo Domingo
        </p>
        <p style="margin: 0;">Lunes a viernes</p>
        <p style="margin: 0;">De 8:00 a.m. a 12:30 p.m.</p>
        <p style="margin: 0;">De 2:00 p.m. a 5:00 p.m.</p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="d-flex align-items-center gap-2">
        <i style="color: #186CAF;" class="fa-solid fa-phone fs-4"
        ></i>
        <h3 class="mt-2">Contactos</h3>
      </div>
      <div>
        <p style="font-weight: bold; margin: 2px;">
          Campus de Santiago
        </p>
        <p style="margin: 0;">
          Centro de Estudiantes, segundo nivel
        </p>
        <p>Tel.: (809) 580-1962, ext. 4243</p>
      </div>

      <div>
        <p style="font-weight: bold; margin: 2px;">
          Campus de Santo Domingo
        </p>
        <p style="margin: 0;">
          Casa del Estudiante, segundo nivel
        </p>
        <p>Tel.: (809) 580-1962, ext. 2205</p>
      </div>
    </div>
  </div>
</div>