---
import Layout from "@layouts/Layout.astro";

import Banner from "@components/Banner/Banner.astro";
import DynamicCarousel from "@components/DynamicCarousel/DynamicCarousel.astro";

import AsideNavLinks from "@components/AsideNav/AsideNavLinks";
import BulletPointRender from "@components/BulletPoints/BulletPointRender/BulletPointRender.astro";
import CampusInfo from "@components/CampusInfo/CampusInfo.astro";
import Personal from "@components/Personal/Personal.astro";
import {
  serviceHealthPersonalCSTIImagesArray,
  servicesHealthImagesArray,
} from "@data/_centralized/images.data";
import {
  healthServicesBulletPoints,
  healthServicesValuesBulletPoints,
} from "@data/_static/bulletPoints/servicesBulletPoints.data";
---

<Layout title="Servicios Estudiantiles - Salud | PUCMM">
  <Banner
    title="Servicios Estudiantiles | Salud"
    path="Servicios Estudiantiles / Salud"
    origin="Inicio"
    originLink="/"
  />

  <div class="news-details-area pt-5 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news-details">
            <div class="news-simple-card">
              <DynamicCarousel carouselImages={servicesHealthImagesArray} />

              <div class="text-center">
                <h2>Departamento de Salud</h2>
              </div>
              <p>
                El Departamento de Salud de la PUCMM ofrece servicios de
                atención primaria individualizada, identificando las necesidades
                de salud que presenta nuestra comunidad universitaria;
                estableciendo sus prioridades mediante la relación directa con
                el usuario, su ambiente y su familia. La labor de este
                Departamento se destaca por los siguientes valores:
              </p>

              <div class="col-lg-8">
                <div class="campus-content">
                  <BulletPointRender
                    bulletPoints={healthServicesValuesBulletPoints}
                  />
                </div>
              </div>

              <p>
                Su equipo humano está constituido por una encargada, médicos
                generales, en servicio permanente, un personal auxiliar en
                enfermería y servicios secretariales.
              </p>

              <Personal membersImages={serviceHealthPersonalCSTIImagesArray} />

              <p>
                <strong
                  >Los principales servicios de este Departamento son:</strong
                >
              </p>

              <div class="campus-content">
                <BulletPointRender bulletPoints={healthServicesBulletPoints} />
              </div>

              TEMPLATE FOR YOUTUBE VIDEO

              <iframe
                width="100%"
                height="500px"
                src="https://www.youtube.com/embed/v5_-WGPm38Q?si=pYil0FUwTqLvINmg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>

              <CampusInfo />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <AsideNavLinks />
        </div>
      </div>
    </div>
  </div>
</Layout>
