---
import BulletPoint from '@components/BulletPoints/BulletPoint/BulletPoint.astro';
import type { BulletPointsGroup } from '@data/_types/types';

interface Props {
	bulletPoints: BulletPointsGroup[];
}

const { bulletPoints } = Astro.props;
---

<div class="list">
  <div class="row">
    {
      bulletPoints.map((bulletPointGroup) => (
        <BulletPoint bulletPointGroup={bulletPointGroup} />
      ))
    }
  </div>
</div>
