---
import HeroSwiperButtons from "./components/heroSwiperButtons/HeroSwiperButtons.astro";
import HeroRender from "./components/heroRender/HeroRender.astro";
---

<div class="main-slider">
  <div class="swiper-container home-slider-container">
    <HeroRender />
    <HeroSwiperButtons />
  </div>
</div>
<!-- <BandDesign /> -->
