---
import Layout from "@layouts/Layout.astro";

import Hero from "@components/Hero/Hero.astro";
import DataSection from "@components/Sections/DataSection/DataSection.astro";
import EventSection from "@components/Sections/EventSection/EventSection";
import MainSection from "@components/Sections/MainSection/MainSection.astro";
import PaperSection from "@components/Sections/PaperSection/PaperSection.astro";
import VideosSection from "@components/Sections/VideosSection/VideosSection.astro";

import { API_URL } from "astro:env/client";
import { CampusEnum } from "@data/_types/types";
---

<Layout title="Inicio | PUCMM">
  <Hero />

  <section class="educationist-area pb-70">
    <MainSection />
    <div class="pt-5">
      <EventSection
        campus={CampusEnum.CSTI}
        isSection
        apiUrl={API_URL}
        client:only
      />
    </div>
    <DataSection />
    <PaperSection />
    <VideosSection />
  </section>
</Layout>
