<div class="others-option-for-responsive">
  <div class="container">
    <div class="dot-menu">
      <div class="inner">
        <div class="circle circle-one"></div>
        <div class="circle circle-two"></div>
        <div class="circle circle-three"></div>
      </div>
    </div>

    <div class="container">
      <div class="option-inner">
        <div class="others-options">
          <ul>
            <li>
              <form class="searchus-form">
                <input
                  class="search-input"
                  placeholder="Search..."
                  type="text"
                />

                <button class="search-button" type="submit">
                  <i class="bx bx-search"></i>
                </button>
              </form>
            </li>
            <li>
              <span class="default-btn1 nav-btn">
                <i class="bx bxs-user-detail"></i>
                <a href="login.html"> Login</a>
                <a href="register.html" class="last-link">Register</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
