---
import heroData from '@data/_static/hero/hero.data';
import HeroCard from '../heroCard/HeroCard.astro';
import MainHeroCard from '../heroMainCard/HeroMainCard.astro';
---

<div class="swiper-wrapper">
  <MainHeroCard />
  {heroData.map((hero, index) => <HeroCard hero={hero} index={index} />)}
</div>
