---
import Hero from "@components/Hero/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio | Vida Universitaria">
  <Hero />

  <section class="educationist-area pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <span>Educationist</span>
        <h2>Our Educationist</h2>
        <p>
          Welcome to the "Educationist Insights" section of our university
          website
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="single-aca-card">
            <div class="title d-flex align-items-center">
              <i class="fa-solid fa-graduation-cap"></i>
              <h3>doctoral education</h3>
            </div>
            <p>
              Our dedicated faculty members, who are internationally recognized
              experts in their respective disciplines, will guide...
            </p>
            <div class="readmore">
              <a href="educationist-details.html"
                >Learn More <i class="bx bx-right-arrow-alt"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-aca-card">
            <div class="title d-flex align-items-center">
              <i class="fa-solid fa-user-graduate"></i>
              <h3>honors education</h3>
            </div>
            <p>
              Welcome to the world of academic excellence and intellectual
              exploration through Triplo Honors Education Program
            </p>
            <div class="readmore">
              <a href="educationist-details.html"
                >Learn More <i class="bx bx-right-arrow-alt"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-aca-card">
            <div class="title d-flex align-items-center">
              <i class="fa-solid fa-pen-to-square"></i>
              <h3>lifetime learning</h3>
            </div>
            <p>
              Welcome to Triplo Lifetime Learning Program, where the pursuit of
              knowledge knows no boundaries
            </p>
            <div class="readmore">
              <a href="educationist-details.html"
                >Learn More <i class="bx bx-right-arrow-alt"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
