---
interface Props {
  facebook?: string | undefined;
  twitter?: string | undefined;
  instagram?: string | undefined;
  linkedin?: string | undefined;
}

const { facebook, twitter, instagram, linkedin } = Astro.props;
---

<div class="tags-and-share">
  <div class="row align-items-center">
    <div class="share">
      <ul>
        {
          facebook && (
            <li>
              <a href={facebook}>
                <i class="flaticon-facebook" />
              </a>
            </li>
          )
        }
        {
          twitter && (
            <li>
              <a href={twitter}>
                <i class="flaticon-twitter" />
              </a>
            </li>
          )
        }
        {
          instagram && (
            <li>
              <a href={instagram}>
                <i class="flaticon-instagram" />
              </a>
            </li>
          )
        }
        {
          linkedin && (
            <li>
              <a href={linkedin}>
                <i class="flaticon-linkedin" />
              </a>
            </li>
          )
        }
      </ul>
    </div>
  </div>
</div>
