---
import { navigationData } from '@data/_static/navigation/nav.data';

import { Image } from 'astro:assets';

import NavbarMenuItems from './NavbarMenuItems';
---

<nav class="desktop-nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/">
        <Image
          src="/assets/images/logo.webp"
          class="main-logo"
          alt="logo"
          width={200}
          height={50}
        />
      </a>

      <div
        class="collapse navbar-collapse mean-menu"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mx-auto">
          <NavbarMenuItems items={navigationData} />
        </ul>

        <!-- <div class="others-options d-flex align-items-center">
          <div class="option-item">
            <div class="icons">
              <i class="search-btn bx bx-search"></i>
              <i class="close-btn bx bx-x"></i>
            </div>
            <div class="search-overlay search-popup">
              <div class="search-box">
                <form class="searchus-form">
                  <input
                    class="search-input"
                    placeholder="Search..."
                    type="text"
                  />

                  <button class="search-button" type="submit">
                    <i class="bx bx-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="option-item">
            <span class="default-btn1 nav-btn">
              <i class="bx bxs-user-detail"></i>
              <a href="login.html"> Login</a>
              <a href="register.html" class="last-link">Register</a>
            </span>
          </div>
        </div> -->
      </div>
    </nav>
  </div>
</nav>
